.card {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.divider {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.definition {
    word-wrap: anywhere;
    dfn {
        font-style: normal;
    }
}
